.btn-primary {
    border: none;
    padding: var(--spacing-md);
    width: 200px;
    font-size: var(--font-size-md);
    border-radius: var(--border-r-md);
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.2s ease-out;

    &:hover {
        background-color: var(--sub-color);
    }
}